*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-align: center;
    text-transform: capitalize;
    background-color: #0a0a23;
    padding: 32px;
    color: #fff;
    margin: 4px solid #fdb347;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 10px;
}

.gallery img{
    width: 200px;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}